*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
     
    background: rgb(238,174,202);
    background: -moz-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);


}
.calculator-grid-container{
    justify-content: center;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4,6rem);
    grid-template-rows: minmax(7rem,auto) repeat(5,6rem);
    
}
.calculator-grid-container > button:hover{
    background-color: rgba(255,255,255,.99);

}
.calculator-grid-container > button {
    cursor:pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255,.65);



}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1/-1;
    background-color: rgba(30,30,30,.65);
  
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operation{
    color: rgba(255,255,255,.65);
    font-size: 1.5rem;
}
.output .current-operand{
    color: white;
    font-size: 2.5rem;
}
